<!DOCTYPE html>
<html>
<head>
  <title>Taskrr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
	<div class="row-fluid">	
		<div class="span12">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="brand" href="#">Taskrrr</a>
						<ul class="nav">
							<li class="active"><a href="#">Home</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<% if notice %>
				<div class="alert alert-success"> <%= notice %> </div>
			<% end %>

			<% if alert %>
				<div class="alert alert-error"> <%= alert %>
			<% end %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span8">
			<%= yield %>
		</div>

		<div class="span4">
			<div style="border-left:1px solid #CCC;padding:10px;height:500px;overflow:scroll">
				<% @tweets.each do |tweet| %>
					<div style="margin-top:20px">
						<div class="row-fluid">
							<div class="span12">
								<%= image_tag tweet.profile_image_url, :class => 'pull-right img-circle' %>
			
								<span class="badge badge-info"> <%= "@#{tweet.user.screen_name}" %> </span> <br />
								<div style="margin-left:10px;margin-top:5px">
									<p style="font-style:italic">
										<%= tweet.text %>
									</p>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

</body>
</html>
